<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cg.edukids" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FullScreen" >
        <activity
            android:name=".math.activity.MathListActivity"
            android:exported="false" />
        <activity
            android:name=".learn.activity.AlphabetActivity"
            android:exported="false" />
        <activity
            android:name=".learn.activity.FruitActivity"
            android:exported="false" />
        <activity
            android:name=".learn.activity.StartLearnActivity"
            android:exported="false" />
        <activity
            android:name=".learn.LearnActivity"
            android:exported="false" />
        <activity
            android:name=".math.activity.ProblemActivity"
            android:exported="false" />
        <activity
            android:name=".math.MathActivity"
            android:exported="false" />
        <activity
            android:name=".memory.MemoryActivity"
            android:exported="false" />
        <activity
            android:name=".puzzle.Start2DActivity"
            android:exported="false" /> <!-- uCrop cropping activity -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- cache directory file provider paths -->
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".memory.StartMemoryMediumActivity"
            android:exported="false" />
        <activity
            android:name=".memory.MemoryListActivity"
            android:exported="false" />
        <activity
            android:name=".memory.StartMemoryEasyActivity"
            android:exported="false" />
        <activity
            android:name=".ludo.StartLudoActivity"
            android:exported="false" />
        <activity
            android:name=".ludo.YellowPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".ludo.RedPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".ludo.GreenPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".ludo.BluePlayerActivity"
            android:exported="false" />
        <activity
            android:name=".ludo.StartGameActivity"
            android:exported="false" />
        <activity
            android:name=".ludo.LudoGameActivity"
            android:exported="false" />
        <activity
            android:name=".puzzle.StartPuzzleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".puzzle.PuzzleListActivity"
            android:exported="false" />
        <activity
            android:name=".puzzle.PuzzleActivity"
            android:exported="false" />
        <activity
            android:name=".memory.StartMemoryHardActivity"
            android:exported="false" />
        <activity
            android:name=".drawing.DrawActivity"
            android:exported="false" />
        <activity
            android:name=".drawing.StartDrawingActivity"
            android:exported="false" />
        <activity
            android:name=".GoogleActivity"
            android:exported="false" />
        <activity
            android:name=".FacebookActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="text" />

        <receiver
            android:name=".MemoBroadcast"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>